.search-link {
  background-color: #c2fbd7;
  border-radius: 20px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  touch-action: manipulation;
  font-weight: lighter;
  margin-left: 30px;
}

.search-link,
.favorite-img:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05);
}

.home-top {
  background-image: url("https://i.ibb.co/y5Qp7sM/Wallpaper-Dog-825277.jpg");
  height: 350px;
  border-bottom: 3px solid #5cdb95;
  color: #c2fbd7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.home-bottom {
  text-align: center;
}

.home-h1 {
  margin: 0 auto;
}

.your-favorites-h1 {
  margin: 6px;
  color: #c2fbd7;
  margin: 15px;
}

.favorite-img {
  width: 200px;
  margin: 5px;
  cursor: pointer;
  border-radius: 13px;
}

.home-p {
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
}

.favorite-p {
  font-size: 30px;
  color: #c2fbd7;
  margin-top: 80px;
}
